* {
  box-sizing: border-box;
 }
.myJumbo {
    margin-bottom: 0px;
    background-image: url(crowd.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: double 8px white;

    /* text-shadow: black 0.3em 0.3em 0.3em; */
}
body{
}
#questionsContainer{
    border: double 8px white;

}
footer {
  padding: 30px 0;
  clear: both;
  font-size: 20px;
  color: #ccc;
  text-align: center;
  /* background: #666666; */
  border-top: 8px solid brown;
  height: 100px;
  margin-left: 6%;
  margin-right: 6%;

  bottom: 0;
  position: absolute;
}
.gifContiner{
  text-align: center;

}
.gif{
  pointer-events: none;
  padding: 3px;
}