* {
  box-sizing: border-box;
  
}

body{
  /* background-image: radial-gradient(circle, rgba(255,0,1,1), rgba(255,0,0,0)); */
  /* background-image: radial-gradient(circle, red, yellow, green); */
     /* background-image: url(friends.jpg); 
     background-repeat: no-repeat; */
     background-image: radial-gradient(circle, black, gray, orange);
color: white;
}
h1{
font-size: 100px;
font-family: 'Bree Serif', serif;
}
h2{
color: black;
}

.surveyContainer{
  width: 50%;
  font-family: 'Bree Serif', serif;

}
.userInfo{
  color: white;
  font-size: 70px;
  font-family: 'Bree Serif', serif;
}
#questionsContainer{
    /* border: double 8px white; */
    font-family: 'Bree Serif', serif;
}

footer {
  /* padding: 30px 0; */
  /* clear: both; */
  font-size: 20px;
  color: gold;
  text-align: center;
  /* height: 100px;
  bottom: 0; */
  position: absolute;

}
.gifContiner{
  text-align: center;
  font-family: 'Bree Serif', serif;


}
.gif{
  pointer-events: none;
  padding: 3px;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}